USE [master]
GO
/****** Object:  Database [Knjiznica]    Script Date: 22.10.2022. 14:45:02 ******/
CREATE DATABASE [Knjiznica]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'Knjiznica', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL15.MSSQLSERVER1\MSSQL\DATA\Knjiznica.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'Knjiznica_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL15.MSSQLSERVER1\MSSQL\DATA\Knjiznica_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [Knjiznica].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [Knjiznica]
GO
/****** Object:  Table [dbo].[Author]    Script Date: 22.10.2022. 14:45:02 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Author](
	[AuthorId] [int] IDENTITY(1,1) NOT NULL,
	[FirstName] [nvarchar](50) NULL,
	[LastName] [nvarchar](50) NULL,
	[ImagePath] [nvarchar](max) NULL,
	[DateOfBirth] [datetime] NOT NULL,
	[Biography] [nvarchar](max) NULL,
	[Link] [nvarchar](300) NULL,
 CONSTRAINT [PK_dbo.Authors] PRIMARY KEY CLUSTERED 
(
	[AuthorId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Book]    Script Date: 22.10.2022. 14:45:02 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Book](
	[BookId] [int] IDENTITY(1,1) NOT NULL,
	[Title] [nvarchar](200) NULL,
	[AuthorId] [int] NOT NULL,
	[ISBN] [nvarchar](100) NULL,
	[BuyPrice] [float] NOT NULL,
	[BorrowPrice] [int] NULL,
	[StockAvailabilty] [int] NULL,
	[CoverImage] [nvarchar](200) NULL,
	[Description] [nvarchar](max) NULL,
	[Condition] [bit] NOT NULL,
	[PublisherId] [int] NULL,
	[SoldNumber] [int] NULL,
	[DeletedAt] [smalldatetime] NULL,
 CONSTRAINT [PK_dbo.Books] PRIMARY KEY CLUSTERED 
(
	[BookId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Employee]    Script Date: 22.10.2022. 14:45:02 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Employee](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[CustomId] [nvarchar](50) NOT NULL,
	[FristName] [nvarchar](50) NOT NULL,
	[LastName] [nvarchar](50) NOT NULL,
	[CreatedAt] [smalldatetime] NULL,
	[DeletedAt] [smalldatetime] NULL,
	[UserName] [nvarchar](70) NOT NULL,
	[Password] [nvarchar](20) NOT NULL,
	[Email] [nvarchar](70) NOT NULL,
	[Telephone] [nvarchar](50) NULL,
PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Library]    Script Date: 22.10.2022. 14:45:02 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Library](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Name] [nvarchar](100) NULL,
	[Address] [nvarchar](150) NULL,
	[Iban] [nvarchar](100) NOT NULL,
	[Image] [nvarchar](500) NULL,
PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[LoanHistory]    Script Date: 22.10.2022. 14:45:02 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[LoanHistory](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Borrowed] [datetime] NOT NULL,
	[BorrowedUntil] [date] NULL,
	[Returned] [datetime] NULL,
	[BookId] [int] NOT NULL,
	[UserId] [int] NOT NULL,
	[Delay] [int] NULL,
 CONSTRAINT [PK__LoanHist__3214EC0790255DEA] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Publisher]    Script Date: 22.10.2022. 14:45:02 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Publisher](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Name] [nvarchar](100) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[PurchasedHistory]    Script Date: 22.10.2022. 14:45:02 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[PurchasedHistory](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Date] [datetime] NOT NULL,
	[BookId] [int] NOT NULL,
	[UserId] [int] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[UserAsp]    Script Date: 22.10.2022. 14:45:02 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[UserAsp](
	[UserId] [int] IDENTITY(1,1) NOT NULL,
	[CustomId] [nvarchar](max) NULL,
	[FirstName] [nvarchar](50) NOT NULL,
	[LastName] [nvarchar](50) NOT NULL,
	[Adress] [nvarchar](100) NULL,
	[CreatedAt] [datetime2](7) NULL,
	[DeletedAt] [datetime] NULL,
	[Email] [nvarchar](50) NOT NULL,
	[Password] [nvarchar](50) NOT NULL,
	[Telefon] [nvarchar](70) NULL,
 CONSTRAINT [PK_dbo.Users] PRIMARY KEY CLUSTERED 
(
	[UserId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[Author] ON 

INSERT [dbo].[Author] ([AuthorId], [FirstName], [LastName], [ImagePath], [DateOfBirth], [Biography], [Link]) VALUES (2, N'Mirko', N'Miric', N'dfasf', CAST(N'1905-03-16T00:00:00.000' AS DateTime), N'fdasfads', NULL)
INSERT [dbo].[Author] ([AuthorId], [FirstName], [LastName], [ImagePath], [DateOfBirth], [Biography], [Link]) VALUES (17, N'Vinko', N'Pivko', N'asdf', CAST(N'2022-02-03T00:00:00.000' AS DateTime), N'fdas', N'a')
SET IDENTITY_INSERT [dbo].[Author] OFF
GO
SET IDENTITY_INSERT [dbo].[Book] ON 

INSERT [dbo].[Book] ([BookId], [Title], [AuthorId], [ISBN], [BuyPrice], [BorrowPrice], [StockAvailabilty], [CoverImage], [Description], [Condition], [PublisherId], [SoldNumber], [DeletedAt]) VALUES (18, N'Tipping the Velvet', 1, N'1-04-876475-3', 53.74, 2, 20, N'https://books.toscrape.com/media/cache/08/e9/08e94f3731d7d6b760dfbfbc02ca5c62.jpg', N'"[""Erotic and absorbing...Written with starling power.""--""The New York Times Book Review "" Nan King', 1, 1, 0, NULL)
GO
SET IDENTITY_INSERT [dbo].[Book] OFF
GO
SET IDENTITY_INSERT [dbo].[Employee] ON 

INSERT [dbo].[Employee] ([Id], [CustomId], [FristName], [LastName], [CreatedAt], [DeletedAt], [UserName], [Password], [Email], [Telephone]) VALUES (1, N'D2022.06.01', N'Marko', N'Markic', NULL, NULL, N'mmarkic', N'111', N'mmm01@gmail.com', N'099 133 8432')
INSERT [dbo].[Employee] ([Id], [CustomId], [FristName], [LastName], [CreatedAt], [DeletedAt], [UserName], [Password], [Email], [Telephone]) VALUES (2, N'D2022.06.01', N'Pero', N'Peric', CAST(N'2022-06-01T19:18:00' AS SmallDateTime), NULL, N'Perko', N'111', N'pperic011@gmail.com', N'0991773211')
INSERT [dbo].[Employee] ([Id], [CustomId], [FristName], [LastName], [CreatedAt], [DeletedAt], [UserName], [Password], [Email], [Telephone]) VALUES (3, N'D2022.06.07', N'Pavo', N'Pivko', CAST(N'2022-06-07T17:53:00' AS SmallDateTime), NULL, N'Vinko Vinka', N'123', N'jjj@gmail.com', N'1221')
SET IDENTITY_INSERT [dbo].[Employee] OFF
GO
SET IDENTITY_INSERT [dbo].[Library] ON 

INSERT [dbo].[Library] ([Id], [Name], [Address], [Iban], [Image]) VALUES (1, N'PRA-Library', N'Ilica 242,1000 Zagreb', N'HR2432432412312', NULL)
SET IDENTITY_INSERT [dbo].[Library] OFF
GO
SET IDENTITY_INSERT [dbo].[LoanHistory] ON 

INSERT [dbo].[LoanHistory] ([Id], [Borrowed], [BorrowedUntil], [Returned], [BookId], [UserId], [Delay]) VALUES (1, CAST(N'2022-08-14T13:04:03.010' AS DateTime), CAST(N'2022-08-15' AS Date), NULL, 17, 10, 0)
INSERT [dbo].[LoanHistory] ([Id], [Borrowed], [BorrowedUntil], [Returned], [BookId], [UserId], [Delay]) VALUES (2, CAST(N'2022-08-14T13:04:22.730' AS DateTime), NULL, CAST(N'2022-08-15T13:04:22.730' AS DateTime), 18, 10, 0)
INSERT [dbo].[LoanHistory] ([Id], [Borrowed], [BorrowedUntil], [Returned], [BookId], [UserId], [Delay]) VALUES (8, CAST(N'2022-08-15T17:04:58.490' AS DateTime), CAST(N'2022-08-18' AS Date), NULL, 22, 10, NULL)
SET IDENTITY_INSERT [dbo].[LoanHistory] OFF
GO
SET IDENTITY_INSERT [dbo].[Publisher] ON 

INSERT [dbo].[Publisher] ([Id], [Name]) VALUES (1, N'Mozaik Knjiga')
INSERT [dbo].[Publisher] ([Id], [Name]) VALUES (4, N'Moja knjiga')
SET IDENTITY_INSERT [dbo].[Publisher] OFF
GO
SET IDENTITY_INSERT [dbo].[PurchasedHistory] ON 

INSERT [dbo].[PurchasedHistory] ([Id], [Date], [BookId], [UserId]) VALUES (1, CAST(N'2022-08-13T16:54:53.307' AS DateTime), 17, 3)
INSERT [dbo].[PurchasedHistory] ([Id], [Date], [BookId], [UserId]) VALUES (2, CAST(N'2022-08-13T17:00:21.427' AS DateTime), 17, 10)
INSERT [dbo].[PurchasedHistory] ([Id], [Date], [BookId], [UserId]) VALUES (3, CAST(N'2022-08-13T17:01:11.273' AS DateTime), 18, 10)
SET IDENTITY_INSERT [dbo].[PurchasedHistory] OFF
GO
SET IDENTITY_INSERT [dbo].[UserAsp] ON 

INSERT [dbo].[UserAsp] ([UserId], [CustomId], [FirstName], [LastName], [Adress], [CreatedAt], [DeletedAt], [Email], [Password], [Telefon]) VALUES (1, N'kMay 31 2022  3:21PM', N'Marko', N'Markic', N'Ilica 242, 1000 zagreb', CAST(N'2022-05-31T15:21:42.4400000' AS DateTime2), NULL, N'mm011@gmail.com', N'123', N'097 777 3211')
INSERT [dbo].[UserAsp] ([UserId], [CustomId], [FirstName], [LastName], [Adress], [CreatedAt], [DeletedAt], [Email], [Password], [Telefon]) VALUES (3, NULL, N'Vinko', N'Pivko', N'a', NULL, NULL, N'jjj@gmail.com', N'12345678', N'098 12321 31')
INSERT [dbo].[UserAsp] ([UserId], [CustomId], [FirstName], [LastName], [Adress], [CreatedAt], [DeletedAt], [Email], [Password], [Telefon]) VALUES (5, N'K31.5.2022. 0:00:001', N'fdas', N'fdas', NULL, CAST(N'0001-01-01T00:00:00.0000000' AS DateTime2), NULL, N'poljak@gmail.com', N'1111111111', N'098 12321 31')
SET IDENTITY_INSERT [dbo].[UserAsp] OFF
GO
/****** Object:  Index [IX_AuthorId]    Script Date: 22.10.2022. 14:45:02 ******/
CREATE NONCLUSTERED INDEX [IX_AuthorId] ON [dbo].[Book]
(
	[AuthorId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [UQ__Employee__C9F28456D8E974CD]    Script Date: 22.10.2022. 14:45:02 ******/
ALTER TABLE [dbo].[Employee] ADD UNIQUE NONCLUSTERED 
(
	[UserName] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [UQ__Library__443BBE9253440716]    Script Date: 22.10.2022. 14:45:02 ******/
ALTER TABLE [dbo].[Library] ADD UNIQUE NONCLUSTERED 
(
	[Iban] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [UQ__Userr__A9D105344381A392]    Script Date: 22.10.2022. 14:45:02 ******/
ALTER TABLE [dbo].[UserAsp] ADD UNIQUE NONCLUSTERED 
(
	[Email] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
ALTER TABLE [dbo].[Book]  WITH CHECK ADD FOREIGN KEY([PublisherId])
REFERENCES [dbo].[Publisher] ([Id])
GO
ALTER TABLE [dbo].[Book]  WITH CHECK ADD  CONSTRAINT [FK_dbo.Books_dbo.Authors_AuthorId] FOREIGN KEY([AuthorId])
REFERENCES [dbo].[Author] ([AuthorId])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[Book] CHECK CONSTRAINT [FK_dbo.Books_dbo.Authors_AuthorId]
GO
ALTER TABLE [dbo].[LoanHistory]  WITH CHECK ADD  CONSTRAINT [FK__LoanHisto__BookI__30C33EC3] FOREIGN KEY([BookId])
REFERENCES [dbo].[Book] ([BookId])
GO
ALTER TABLE [dbo].[LoanHistory] CHECK CONSTRAINT [FK__LoanHisto__BookI__30C33EC3]
GO
ALTER TABLE [dbo].[LoanHistory]  WITH CHECK ADD  CONSTRAINT [FK__LoanHisto__UserI__31B762FC] FOREIGN KEY([UserId])
REFERENCES [dbo].[UserAsp] ([UserId])
GO
ALTER TABLE [dbo].[LoanHistory] CHECK CONSTRAINT [FK__LoanHisto__UserI__31B762FC]
GO
ALTER TABLE [dbo].[PurchasedHistory]  WITH CHECK ADD FOREIGN KEY([BookId])
REFERENCES [dbo].[Book] ([BookId])
GO
ALTER TABLE [dbo].[PurchasedHistory]  WITH CHECK ADD FOREIGN KEY([UserId])
REFERENCES [dbo].[UserAsp] ([UserId])
GO
/****** Object:  StoredProcedure [dbo].[GetBook]    Script Date: 22.10.2022. 14:45:02 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE proc [dbo].[GetBook]
	@id int
as
begin
	select*from Books
	where Books.BookId>@id
end
GO
/****** Object:  StoredProcedure [dbo].[GetBooks]    Script Date: 22.10.2022. 14:45:02 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
create proc [dbo].[GetBooks]
as
begin
	select* from Books
end
GO
/****** Object:  StoredProcedure [dbo].[getOneBook]    Script Date: 22.10.2022. 14:45:02 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
create proc [dbo].[getOneBook]
	@id int
as
begin
	select*from Books
	where BookId=@id
end
GO
/****** Object:  StoredProcedure [dbo].[HideBook]    Script Date: 22.10.2022. 14:45:02 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
create proc [dbo].[HideBook]
	@id int
as
update Book
set deletedAt = GETDATE()
where BookId=@id
GO
/****** Object:  StoredProcedure [dbo].[SaveEmployee]    Script Date: 22.10.2022. 14:45:02 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
  CREATE proc [dbo].[SaveEmployee]
	@FirstName nvarchar(50),
	@LastName nvarchar(50),
	@Username nvarchar(50),
	@Password nvarchar(20),
	@Email nvarchar(70),
	@Telephone nvarchar(50)
as
insert into Employee(CustomId, FristName,lastName, CreatedAt, DeletedAt, UserName, Password, Email, Telephone)
			values('D'+CONVERT(nvarchar(10),GETDATE(),102),@FirstName,@LastName,GETDATE(),null,@Username,@Password,@Email,@Telephone)
GO
USE [master]
GO
